body {
  margin: 20px;
  font-family: "PT Sans", sans-serif;
  width: 40%;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
tr {
  font-size: 18px;
  line-height: 3;
}
tr > td {
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: blue;
}
